@charset "UTF-8";

#wrapper {
	width:980px;
	margin:auto;
}

input:not([type=button]):not([type=submit]){
	width:300px;
}

td {
	vertical-align:top;
	line-height:1.2
}

.inputWrapper {
	margin-bottom:15px;
}

.error {
	color:#f00;
}