@charset "UTF-8";

#wrapper {
	width:640px;
	margin:auto;
}

input:not([type=button]):not([type=submit]):not([type=checkbox]){
	width:300px;
}

table {
	border-collapse:collapse;
	border-spacing:0;
}

td {
	vertical-align:top;
	line-height:1.5em
}

p {
	margin:0;
}

a:link,
a:visited {
	color:#00f;
}

#searchResultWrapper {
	margin:30px 0px;
}

#searchResult thead,
#searchResult tbody {
	display:block;
}

#searchResult th {
	background:#b8cce4;
}

#searchResult .checkBox {
	width:30px;
}

#searchResult .title {
	width:200px;
}

#searchResult .publisher {
	width:100px;
}

#searchResult .author {
	width:180px;
}

#searchResult .status {
	width:96px;
}

#searchResult th:last-child {
	width:15px;
}

#searchResult th,
#searchResult td {
	border:1px solid #333;
	vertical-align:middle;
}

#searchResult tbody {
	overflow-y:scroll;
	height:270px;
	border:1px solid #000;
	border-top:none;
}

#stockListWrapper {
	margin:30px 0px;
	width:100%;
}

#stockList td {
	position:relative;
	width:61px;
	height:30px;
	border:1px solid #333;
	text-align:center;
	vertical-align:middle;
	cursor:pointer;
}

#stockList td .tooltip {
	display:none;
}

#stockList td:hover .tooltip {
	display:block;
	position:absolute;
	top:-25px;
	left:50px;
	padding:5px;
	width:max-content;
	max-width:200px;
	color:#000;
	background:#ff0;
	text-align:left;
	z-index:100;
}

#libraryDetail {
	width:500px;
	border:1px solid #000;
}

#libraryDetailWrapper > #libraryDetail {
	border:none;
}

#libraryDetail tr > td:first-child {
	width:100px;
}

.noStock {
	color:#f00;
}
.stock {
	color:#538dd5;
}

.selected {
	background:#d9d9d9;
}

.inputWrapper {
	margin-bottom:15px;
}

.btnWrapper .rightBtn {
	float:right;
}

.btnWrapper form {
	display:inline-block;
}

form.adminOnly {
	display:none;
}

form.adminOnly.show {
	display:inline-block;
}

.error {
	color:#f00;
}